{% extends('base.html.twig') %}
{% block title %}{{ parent() }} | Accueil{% endblock %}
{% block body %}

    <div class="card">
        <div class="card-header">
            Bienvenue
        </div>
        <div class="card-body">
            <h5 class="card-title">Ouverture ?</h5>
            <p class="card-text">Toutes les balades sont créées par nos utilisateurs.</p>
            <a href="#" class="btn btn-primary">Voir</a>
        </div>
    </div>
{% endblock %}